body {
  /*background-color: #67B58D;*/
  color: #323232;
}
header {
  /*background-color: #65967D;*/
}
a, a:visited {
  color: #5E7888;
}
a:hover {
  /*color: #7B919D !important;*/
  /*color: #D5B690 !important;*/
  color: #D5A190 !important;
}
h1, h2, h3 {
  color: #5D7888;
}
li h1, h2, h3, h4, h5, h6 {
	border-bottom: 0.15em solid #7B919D;
}
/*.active {*/
  /*color: #D5B690 !important;*/
/*}*/
footer {
  color: #5D7888; /* #5E7888, white */
/*	background-color: #65967D;*/
}
.top-bar, .bottom-bar {
  background-color: #65967D;
}
