body {
  /*background-color: #67B58D;*/
  color: #323232;
}
header {
  /*background-color: #65967D;*/
}
a, a:visited {
  color: #5E7888;
}
a:hover {
  /*color: #7B919D !important;*/
  /*color: #D5B690 !important;*/
  color: #D5A190 !important;
}
h1 {
  color: #708592;
}
/*.active {*/
  /*color: #D5B690 !important;*/
/*}*/
footer {
  color: white; /* #5E7888 */
	background-color: #65967D;
}
.top-bar, .bottom-bar {
  background-color: #65967D;
}
