/*
 * LAYOUT & COLOR
 */
html, body { 
	height: 100%; 
}
.top-bar, .bottom-bar {
/*	position: fixed;*/
	width: 100%;
	height: 0.5em;
	background-color: #65967D; /*green*/ 
}
.wrap {
	min-height: 100%;
}
.grids [class*="grid-"] {
	padding-left: 20px;
}
h1, a {
	color: #5D7888;
}
.bottom-bar {
/*	position: fixed;*/
	left: 0px;
	bottom: 0px;
}

/*
 * TYPOGRAPHY
 */
a {
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
	/*font-weight: bold;*/
}
section {
	font-weight: bold;
}
section p {
	font-weight: normal;
}
ul {
	padding-left: 0;
	margin-left: 0;
/*	margin-left: 40px;*/
}