/*************
	COLORS
*************/
.top-bar {
	background-color: green;
}
h1, a {
	color: blue; /* 'a' will eventually be strongest blue, h* will be lightest */
}

/*************
	TYPOGRAPHY
*************/

a {
	text-decoration: none;
}
section {
	font-weight: bold;
}
section p {
	font-weight: normal;
}

/*************
	LAYOUT
*************/
.top-bar {
	width: 100%;
	height: 0.5em;
}