header {
  border-radius: 0 0 0.5em 0.5em;
}
a, a:visited {
  text-decoration: none;
}
a:hover:before {
  content: "[";
}
a:hover:after {
  content: "]";
}
ul {
  padding-left: 0px;
  text-align: right;
}
footer {
  text-align: right;
}
.top-bar, .bottom-bar {
  height: 0.5em;
}
.top-bar {
  margin-bottom: 30px;
}
.bottom-bar {
  margin-top: 30px;
}
