header {
  border-radius: 0 0 0.5em 0.5em;
}
a, a:visited {
  text-decoration: none;
}
/*header a:hover:before {
  content: "[";
}
header a:hover:after {
  content: "]";
}
*/ul {
  padding-left: 0px;
  text-align: right;
}
section .grids [class*="grid-"] {
/*	padding: 0px 30px;*/
}
section ul {
	text-align: left;
}
footer {
/*  text-align: right;*/
}
.top-bar, .bottom-bar {
  height: 0.5em;
}
.top-bar {
  margin-bottom: 30px;
}
.bottom-bar {
  margin-top: 30px;
}
