html {
	height: 100%;
}
body {
	min-height: 100%;
/*	position: relative;*/
}
header {
  border-radius: 0 0 0.5em 0.5em;
}
a, a:visited {
  text-decoration: none;
}
/*header a:hover:before {
  content: "[";
}
header a:hover:after {
  content: "]";
}
*/ul {
  padding-left: 0px;
  text-align: right;
}
/*section {
	padding-bottom: 500px;
}
*/section .grids [class*="grid-"] {
/*	padding-bottom: 120px;*/
}
section ul {
	text-align: left;
}
footer {
/*	position: absolute;*/
/*	bottom: 0;*/
/*	min-width: 100%;*/
/*	left: 33%;*/
/*  text-align: right;*/
/*	vertical-align: baseline;*/
}
.top-bar, .bottom-bar {
  height: 0.5em;
}
.top-bar {
  margin-bottom: 30px;
}
.bottom-bar {
  margin-top: 30px;
}
